<% @questions.each do |question| %>
  <%= link_to question_path(question.id) do %>
    <div class="main">
      <div class='main-theme' >
        <div class="upper-message">
          <div class=message-user>
            <%= question.user.nickname %>
          </div>
          <div class="message-date">
            <%= l question.created_at %>
          </div>
        </div>      
        <div class="lower-message">
          <div class="message-content">
            <%= question.question %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%= link_to(new_question_path, class: 'question-btn') do %>
  <span class='question-btn-text'>問題を作る</span>
  <%#= image_tag 'icon_camera.png' , size: '185x50' ,class: "question-btn-icon" %>
<% end %>