<div class="main">
  <div class='main-theme' >
    <div class="upper-message">
      <div class=message-user>
        <%= @question.user.nickname %>
      </div>
      <div class="message-date">
        <%= @question.created_at %>
      </div>
    </div>      
    <div class="lower-message">
      <div class="message-content">
        <%= @question.question %>
      </div>
    </div>
  </div>
</div>

<div class="comment-lists">
  <h2>みんなの回答</h2>
  <% @comments.each do |comment| %>
    <div class="comment-name">
      <%= comment.user.nickname %>
    </div>
    <div class="comment-text">
      <%= comment.text %>
    </div>
  <% end %>
</div>

<%= link_to(new_question_comment_path(@question.id), class: 'question-btn') do %>
  <span class='question-btn-text'>今すぐ回答！！</span>
  <%#= image_tag 'icon_camera.png' , size: '185x50' ,class: "question-btn-icon" %>
<% end %>